<div>
<p class="originalSynopsisBox col-md-4">{{originalSynopsis}}</p>
<p class="AutomatedSynopsisBox col-md-4">{{autoSynopsis}}</p>
<input class="proposed-change-action col-md-4"  value="{{proposedSynopsis}}" ></input>
</div>