<div>
<p class="originalTitleBox col-md-4">{{originalTitle}}</p>
<p class="AutomatedTitleBox col-md-4">{{autoTitle}}</p>
<input class="proposed-change-action col-md-4"  value="{{proposedTitle}}" ></input>
</div>